#changer {
    background-color: aqua;
}html, body {
    background: #2980B9;
    min-width: 400px;
  }
  
  #ville {
    text-transform: capitalize;
    font-size: 35px;
  }
  
  #temperature {
    margin: 20px;
    font-size: 4em;
  }
  
  #changer {
    font-size: 20px;
    border-radius: 100px;
    margin: 20px;
    background: rgba(178, 223, 251, .3);
    cursor: pointer;

  }
  :hover#changer {
    background-color: aliceblue;
    transition: 999ms;
    box-shadow: 4px 4px 4px 4px black;
    color: black;
  }
  .villes {
    margin: 40px;
    
  }
  body {
    color:white;
  }